<h2 class="setup-title">Choose a size</h2>
<div class="setup-container">
  <div class="template-choice small-template">
    <%= link_to "<h3>Small</h3>1 to 2 marketers".html_safe, setup_path, :method => :post, :class => 'template-link' %>
  </div>
  <div class="template-choice medium-template">
    <h3>Medium</h3>
    3 to 4 marketers
  </div>
  <div class="template-choice large-template">
    <h3>Large</h3>
    5+ marketers
  </div>
  <div class="template-choice custom-template">
    <h3>Custom</h3>
  </div>
</div>