// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar {
  width: 85%;
  margin: 0 auto; 
}
.close-action {
  float: right;
  font-family: FontAwesome;
  font-size: 20px;
  margin-top: -7px;
  a {
    color: #18a78a;
  }
}
.fc-event {
  color: #fff !important; 
}
.fc-month-view .fc-time{
  display : none;
}
.recurrence {
  background-color: #d6d6d6 !important;
  border: 1px solid #d6d6d6 !important;
}
.missed-recurrence {
  background-color: #ce0909 !important;
  border: 1px solid #ce0909 !important;
}
.event {
  
}
.tweet {
  background-image: url(/assets/tweet.png) !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right top;
}
.blog_post {
  background-image: url(/assets/blog_post.png) !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right top;
}
.linkedin_post:before {
  content: "\f000";
  font-family: FontAwesome; 
  color: white;
}
.recurrence:hover {
  background-color: #000 !important; 
}
.event:hover {
  background-color: #000 !important; 
}
.complete-button {
  
}
.add-event-button {
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 2px;
  font-size: 10px !important;
  line-height: 1.3 !important;
}
.edit-popup {
  .ibox {
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.50);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.50);
  }
}
.recurrence-instructions {
  padding-bottom: 10px;
  font-style: italic;
}
