// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fc-event {
  color: #fff !important; 
}
.fc-month-view .fc-time{
  display : none;
}
.recurrence {
  background-color: grey !important;
  border: 1px solid grey !important;
}
.event {
  
}
.tweet {
  background-image: url(/assets/tweet.png) !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right top;
}
.blog_post {
  background-image: url(/assets/blog_post.png) !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right top;
}
.recurrence:hover {
  background-color: #000 !important; 
}
.event:hover {
  background-color: #000 !important; 
}