// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar {
  width: 80%;
  margin: 0 auto; 
}
#edit-container {
  z-index: 100;
  position: absolute;
  top: 40%;
  left:38%;
  width: 300px;
  height: 400px;
}
.close-action {
  float: right;
}
.fc-event {
  color: #fff !important; 
}
.fc-month-view .fc-time{
  display : none;
}
.recurrence {
  background-color: grey !important;
  border: 1px solid grey !important;
}
.event {
  
}
.tweet {
  background-image: url(/assets/tweet.png) !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right top;
}
.blog_post {
  background-image: url(/assets/blog_post.png) !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right top;
}
.recurrence:hover {
  background-color: #000 !important; 
}
.event:hover {
  background-color: #000 !important; 
}
.edit-popup {
  .ibox {
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.50);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.50);
  }
}