// Place all the styles related to the Setup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.setup-title {
  text-align: center; 
}
.setup-container {
  width: 650px; 
  margin: 0 auto;
}
.template-choice {
  width: 300px;
  height: 200px;
  margin: 10px;
  border: 1px solid grey;
  float: left;
}
.small-template {
   
}